ion-content{
    --background: url('../../assets/images/back2.jpeg') no-repeat center/cover fixed;
}

.registrar{
    text-align: center;
    --background: #dd9492;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 4px;
  }
  