<ion-toolbar>
  <ion-title>Registro</ion-title>
  <ion-buttons slot="end" routerLink="/home">
    <ion-button> Back</ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content [fullscreen]="true">
  <div class="home-section ion-padding" >
    <div class="heading ion-padding" >
      <h1>Registrar</h1>
    </div>
    <form [formGroup]="formRegistro" (keyup.enter)="registrar()">
      <ion-item>
        <ion-input 
        label="Nombre:" 
        labelPlacement="floating" 
        [clearInput]="true" 
        placeholder="Introduce tu nombre"
        formControlName="nombre">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input 
        label="Apellido:" 
        labelPlacement="floating" 
        [clearInput]="true" 
        placeholder="Introduce tu apellido"
        formControlName="apellido">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input 
        label="Rut:" 
        labelPlacement="floating" 
        [clearInput]="true" 
        placeholder="Introduce tu rut (ej: 12.123.123-0)"
        formControlName="rut">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input 
        label="Carrera:" 
        labelPlacement="floating" 
        [clearInput]="true" 
        placeholder="Introduce tu carrera"
        formControlName="carrera">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input 
        label="Correo:" 
        labelPlacement="floating" 
        [clearInput]="true" 
        placeholder="Introduce tu correo"
        formControlName="correo"
        type="email">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input 
        label="Contraseña:" 
        labelPlacement="floating" 
        type="password" 
        placeholder="Introduce tu Contraseña"
        formControlName="contraseña">
        </ion-input>
      </ion-item>
    </form>
    <div class="action-button ion-padding">
      <ion-button size="small" class="registrar" slot="end" [routerLink]="['/home']" routerLinkActive="router-link-active"  (click)="registrar()">Registrar</ion-button>
    </div>
  </div>
</ion-content>
