ion-content{
    --background: url('../../assets/images/back2.jpeg') no-repeat center/cover fixed;
    
    ion-card{
        transform: translateY(20%);
    }
    
    ion-card-title{
        font-family:'Times New Roman';
        font-size: 28px;
        text-align: center;
    }

}
ion-title{
    transform: translateY(-40%);
    font-size: 26px;
    font-family:'Times New Roman';
}
.mostrar {
    font-size: 18px;
    font-family:'Times New Roman';
    
}
  