
<ion-content [fullscreen]="true">
  <div class="home-section ion-padding" >
    <div class="heading ion-padding" >
      <h1 class="animated-heading"> Login </h1>
    </div>
    <form [formGroup]="formLogin">
      <ion-item>
        <ion-input 
          label="Usuario:"
          labelPlacement="floating"
          [clearInput]="true"
          placeholder="Ingrese su nombre de usuario"
          formControlName="usuario"
          errorText="Debe ingresar su nombre de usuario"
          required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input 
        label="Contraseña:" 
        labelPlacement="floating" 
        type="password" 
        placeholder="Ingrese su contraseña"
        formControlName="contraseña"
        errorText="Debe ingresar su contraseña"
        required>
        </ion-input>
      </ion-item>
  
      <ion-button size="small" (click)="login()">Ingresar</ion-button>
      <ion-button size="small" slot="end" routerLink="/registrar">Registrar</ion-button>
      <p>¿Haz olvidado tu contraseña? <a (click)="resetPass()">Haz click aqui!</a></p>
    </form>
    
  </div>
  

</ion-content>