
<ion-content [fullscreen]="true">
  <div class="home-section ion-padding" >
    <div class="heading ion-padding" >
      <h1> Login </h1>
    </div>
    <form [formGroup]="formLogin">
      <ion-item>
        <ion-input 
        type="email"
        label="Correo:" 
        labelPlacement="floating" 
        [clearInput]="true" 
        placeholder="Ingrese su correo"
        formControlName="correo"
        errorText="Debe ingresar su correo"
        required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input 
        label="Contraseña:" 
        labelPlacement="floating" 
        type="password" 
        placeholder="Ingrese su contraseña"
        formControlName="contraseña"
        errorText="Debe ingresar su contraseña"
        required>
        </ion-input>
      </ion-item>
  
      <ion-button size="small"  (click)="login()">Ingresar</ion-button>
    

    </form>
    
    
    <div class="action-button ion-padding">
      <ion-button size="small" class="registrar" slot="end" routerLink="/registrar">Registrar</ion-button>
      <ion-button size="small" class="olvidar" routerLink="/recuperar">Recuperar Contraseña</ion-button>
    </div>
  </div>
  

</ion-content>